.dark .card {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark input,
.dark textarea {
  background-color: #2a2a2a;
  color: #ffffff;
  border: 1px solid #555;
}



.dark {
  background-color: #121212;
  color: #ffffff;
}

.dark h1,
.dark h2,
.dark h3 {
  color: #ffffff;
}

.dark button {
  background-color: #333;
  color: #fff;
}

